.media-box {

    display: flex;
    flex-direction: row;
    
    .title {

        flex: 1;
        width: 80px;
        height: 33px;
        font-size: 20px;
        font-weight: bold;
        color: #2d2d4b;
        margin: 10px 60px 10px 0px;
        padding: 20px 10px 20px 0px;
    }
    .txt {
        
        .all {

            width: 92px;
            height: 40px;
            border-radius: 3px;
            border: solid 1px #cbcecf;
            background-color: #fafafa;
            margin: 25px 0px 0px 120px;
        }
        .all:hover {
            background-color: #eaeaea;
        }
    }
}
.carousel {

    border-bottom: 1px solid #c2c0b3;
    
    .element {
        z-index:-1;
        text-align: center;
        padding: 50px 0px 30px 0px;
        width: 100%;

        .image {
            width: 300px;
            max-height: 200px;
        }
        .host {
            font-weight: bold;
            margin: 20px;
            font-size: 18px;
        }
        .title {
            margin: 20px;
            font-size: 15px;
        }
    }
}