.wrap {
    width: 100%;
    //height: 100%;

    height: calc(100vh - 86px);

    display: flex;
    flex-direction: column;
    align-items: center;

    .page {
        //margin-top: 3px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        .intro {
            background-image: url("../../assets/rachel-french-unsplash.jpg");
            background-size: cover;

            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 1s; /* Firefox < 16 */
            -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 994px;
            //height: calc(100vh - 64px);
            border-bottom: 1px solid black;
            .service-upper-blank {
                flex: 1;
            }

            .service-slogan {
                flex: none;
                text-align: center;
                font-size: 32px;
                color: #000000;
                font-weight: 600;
            }
            .service-explanation {
                flex: none;
                text-align: center;
                padding: 20px;
                width: 600px;
                margin: 0 auto;
                font-size: 16px;
                color: #000000;
            }
            .chevron-down {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                align-content: center;
                img {
                    width: 48px;
                    margin: 20px;
                }
            }
        }
        .club {
            max-width: 1024px;
            margin: 0 auto;
            margin-top: 64px;

            .title-box {
                display: flex;
                flex-direction: row;
                .title {
                    flex: 1;
                    width: 55px;
                    height: 29px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #2d2d4b;
                }
                .all {
                    width: 92px;
                    height: 40px;
                    border-radius: 3px;
                    border: solid 1px #cbcecf;
                    background-color: #fafafa;
                }
            }

            .itemlist {
                border: 1px solid black;
                margin-top: 16px;
            }
            .slick-prev {
                //크기는 이미지 따로 찾아서
                width: 48px;
                height: 48px;
                left: -5% !important;
                background-color: #cbcecf;
                z-index: 1;
            }
            .slick-next {
                width: 48px;
                height: 48px;
                right: -5% !important;
                background-color: #cbcecf;
                z-index: 1;
            }
            .title {
                width: 328px;
                height: 29px;
                font-size: 20px;
                font-weight: bold;
                text-align: left;
                color: #2d2d4b;
            }
            .item {
                width: 360px;
                height: 365px;
                border-radius: 3px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
            }
        }
        .education {
            @extend .club;
        }
        .conference {
            @extend .club;
        }
    }

    .footer {
        width: 100%;
        background: orange;
    }
}

/*** KEYFRAMES ***/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
