.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page {
        margin-top: 3px;
        width: 80%;
        height: 100%;
        overflow-y: scroll;

        .intro {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 500px;
            border-bottom: 1px solid black;
        }
        .club {
            @extend .intro;
            background: skyblue;
            overflow: hidden;

            .itemlist {
                margin-top: 10px;
                width: 80%;
                margin: auto;
            }
            .slick-prev {
                //크기는 이미지 따로 찾아서
                // left: 3% !important;
                z-index: 1;
            }
            .slick-next {
                // right: 3% !important;
                z-index: 1;
            }
            .title {
                margin-top: 10px;
                font-size: 20px;
            }
            .item {
                height: 200px;
                border: 1px solid black;
                background: orange;
            }
        }
        .education {
            @extend .club;
        }
        .conference {
            @extend .club;
        }
    }

    .footer {
        width: 100%;
        background: orange;
    }
}
