.detailBox{
    text-align: center;
    margin:50px auto 100px;
    border: 1px solid #c2c0b3;
    border-radius: 8px;
    max-width:900px;
    
    .link {
        padding: 0px 0px 60px 0px;
        font-size: 20px;
    }

    .seperator {
        padding:20px 0px 0px 0px;
        margin:10px auto;
        width: 100%;
        font-weight: bold;
        font-size: x-large;
        color: #2d2d4b;
    }

    .box{
        padding:20px;
        margin:10px auto;
        width: 100%;
        max-width: 768px;
        word-break: break-all;
        font-size: 14px;

        .image{
            max-width: 700px;
            max-height: 400px;
        }
    }
}
@media screen and (max-width: 992px) {

    .detailBox {

        .link {
            font-size:16px;
        }
        .seperator {
            font-size: large;
        }
        .box {
            font-size: 12px;

            .image {
                width: 100%;
                height: auto;
            }
        }
    }
}
