.block {
    margin: 10%;
}

.navPic {
    width: 100%;
    height: 530px;
    margin-top: -320px;
    background-image: url("https://zurb.com/packs/media/zurb/img/services/design-insight/design-insight-img1-88592b0a8fd8217a115424103cddc602.png");
    overflow: hidden;
    position: relative;
    
    .slogan {
        width: 30%;
        color: #ffffff;
        font-size: x-large;
        font-weight: 600;
        position: relative;
        top: 400px;
        left: 24%;
    }
    @media screen and (max-width: 992px) {
        .slogan {
            font-size: 16px;
            width: 50%;
            position: relative;
            top: 440px;
            left: 10%;
        }
    }
}

.search-menu {
    flex: none;
    width: 264px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #878d91;
    display: flex;
    align-items: center;
    position: relative;
    left: 10%;
    margin-top: 20px;

    .search-txt {
        width: 210px;
        height: 20px;
        font-size: 14px;
        color: #cbcecf;
        border: none;
        margin-left: 10px;
        outline: none;
    }
    .search-btn {
        flex: none;
        width: 24px;
        height: 24px;
    }
}
.search-menu:focus-within {
    border: solid 1px #fd8c3e;
    .search-txt {
        color: black;
    }
}

.MuiCardContent-root {
    height: 165px;
}

.icons {

    display: flex;
    justify-content: flex-end;
    width:100%;

    .page {

        width:30px;
        padding-top:3px;
         .pp {
            width:100%;
         }
    }
    .share {

        width:35px;
        padding-bottom:3px;
        .ss {
            width:100%;
        }
    }
    .heart {

        padding-top:3px;
    }
}
