.header {
    height: 64px;

    display: flex;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);

    .image {
        flex: 1.5;
        height: 40px;
        margin: 1% 3% 0% 3%;
        .logo {
            height: 40px;
            width: auto;
        }
    }
    .menu {
        //flex: 1.2;
        //margin: 2% 1% 1% 1%;

        flex: none;
        min-width: 64px;
        margin: 0 16px;
        text-align: center;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        .txt{
            text-decoration: none;
            color:black;
            font-weight: 600;
        }
        .txt:hover {
            color: #4c5e71;
        }
    }
    .search-menu {
        //float: right;
        //flex: 1.5;

        flex: none;
        width: 240px;
        height: 40px;
        margin: 12px;

        display: flex;


        border: 2px solid rgb(236, 150, 64);
        //border-color: rgb(236, 150, 64);
        //border-style: solid;
        border-radius: 8px;
        //margin: 1.5% 1% 1% 5%;
        .search-txt {
            padding: 10px;
            border: none;
            background: none;
            outline: none;
            font-size: 15px;
            flex: 1;
            height: 100%;

            width: 80%;
            //float: left;
            //margin-left: 1%;
        }
        .search-btn {
            flex: none;

            width: 16px;
            margin: 10px;
            //background-image: url("../../assets/SearchButton.png");
            //background-size: 100% 100%;
            //float: right;
            //margin: 4% 4% 1% 0%;
            //width: 10%;
            //height: 60%;
            //justify-content: center;
        }
    }
    .account{
        display:flex;
        flex: none;
        padding: 0 20px 0 10px;
        //flex:1.8;
        //margin: 1.8% 1% 1% 1%;

        .txt{
            flex: 1;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            min-width: 80px;
            margin: 5px;

            color: #000000;
            text-decoration: none;
        }
        .txt:hover{
            color: #4c5e71;

        }
        .menu-account {
            flex: none;
            min-width: 100px;
            text-align: center;


            margin: 0% 1% 1% 2%;
            .txt{
                color:black;
                font-weight: 500;
            }
            .txt:hover {
                color: #4c5e71;
            }
        }
    }
    
}
