@import "~antd/dist/antd.css";

.header {
    //  min-width: 1200px;
    height: 86px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;

    .image {
        flex: 1;
        height: 51px;
        margin-left: 32px;
        .logo {
            height: 40px;
            width: auto;
        }
    }
    .menu {
        flex: none;
        margin: 0 36px;
        text-align: center;
        font-size: 15px;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        .txt {
            text-decoration: none;
            color: #878d91;
        }
        .txt:hover {
            color: #fd8c3e;
            font-weight: bold;
        }
    }
    .header-search-menu {
        flex: none;
        width: 264px;
        height: 40px;
        border-radius: 3px;
        border: solid 1px #878d91;
        display: flex;
        align-items: center;

        .search-txt {
            width: 210px;
            height: 20px;
            font-size: 14px;
            color: #cbcecf;
            border: none;
            margin-left: 10px;
            outline: none;
        }
        .search-btn {
            flex: none;
            width: 24px;
            height: 24px;
        }
    }
    .header-search-menu:focus-within {
        border: solid 1px #fd8c3e;
        .search-txt {
            color: black;
        }
    }

    .bar {
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }

    .account {
        flex: none;
        margin-left: 16px;
        width: 140px;
        height: 27px;
        display: flex;
        margin-right: 32px;
        text-decoration: none;
        cursor: pointer;
        align-items: center;

        .login-btn {
            width: 50px;
            height: 20px;
            font-size: 15px;
            color: #878d91;
        }
        .sign-btn {
            width: 66px;
            height: 20px;
            font-size: 15px;
            color: #fd8c3e;
            margin-left: 24px;
        }

        .username {
            flex: 1;
        }
        .usericon {
            flex: 1;
            width: 48px;
            height: 48px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            z-index: 3;

            a {
                text-decoration: none;
            }
            ul {
                list-style-type: none;
                right: 0px;
                top: 40px;
                background-color: white;
                position: absolute;
                padding-inline-start: 0px;
                width: 168px;
                height: 88px;
                border-radius: 3px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.48);
                background-color: #ffffff;

                .list {
                    height: 44px;
                    text-align: left;
                    color: #878d91;
                    font-size: 16px;
                    padding-inline-start: 0px;
                    padding: 10px;
                }
                .list:hover {
                    color: #fd8c3e;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .header {
        height: auto;
        .z-index {
            //width: 95%;
            display: flex;
            flex-direction: row;
            //z-index: 999;
            padding-top: 20px;
            align-items: center;
            .image {
                width: 148.45px;
                // flex: none;
            }
            .search-menu {
            }
            .account {
            }
        }
        .ant-collapse-icon-position-right {
            width: 100%;

            .ant-collapse-item {
                text-align: center;
                font-size: 15px;
                .ant-collapse-header {
                    .ant-collapse-arrow {
                        top: -24px;
                    }
                }
                .ant-collapse-content-box {
                    padding: 0;
                    a {
                        text-decoration: none;
                        .txt {
                            // width: 100%;
                            color: #878d91;
                            border-bottom: 1px solid #cbcecf;
                            padding: 10px 0;
                        }
                        .txt:hover {
                            color: #fd8c3e;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
