.footer {
    margin-top: 180px;
    height: 164px;
    border-top: 1px solid #cbcecf;
    .text {
        margin-left: 396px;
        margin-top: 40px;
        width: 328px;
        height: 24px;
        font-size: 16px;
        color: #878d91;
    }
}
