.footer {
    margin-top: 180px;
    height: 164px;
    border-top: 1px solid #cbcecf;
    // width: 100%;
    position: absolute;
    bottom: -344px;

    .text {
        margin-left: 10%;
        margin-top: 5%;
        width: 328px;
        height: 24px;
        font-size: 16px;
        color: #878d91;
    }
}
