.join{
    
    text-align: center;
    margin:100px;
    .in{
        padding:30px;
        display: inline-block;
        border: 1px solid #c2c0b3;
        border-radius: 8px;
        .form{
            display:flex;

            .text{
                width:100px;
                text-align: center;
                font-size: 15px;
                max-width:200px;
                margin:10px;
            }
            .joinInput{
                border:none;
                border-bottom: 1px solid #c2c0b3;
                outline:none;
                margin:10px;
            }
            .joinInput:focus{
                border-bottom: 1px solid rgb(236, 150, 64);
            }
        }
        .joinButton{
            border:none;
            border-radius: 4px;
            background-color: #c2c0b3;
            outline: none;
            padding:5px 10px;
            cursor:pointer;
        }
        .joinButton:hover{
            background-color: rgb(236, 150, 64);
        }

        
        
    }
}