.form {
    text-align: center;
    margin:20px;

    .in {
        display: inline-block;

        .title {
            text-align: left;
            width:400px;
            font-size: 25px;
            font-weight:bold;
            margin: 20px;
        }
        .text {
            width: 400px;
            text-align: left;
            justify-content: center;
            margin: 10px;
            padding: 10px;
        }
        .input {
            width: 400px;
            height: 40px;
            border-radius: 3px;
            border: solid 1.5px #cbcecf;
            margin: 5px;
            margin-bottom: 15px;
            outline: none;
        }
        .input:focus {
            border: 1px solid rgb(236, 150, 64);
        }
        
        .button {
            width:400px;
            height:40px;
            border:none;
            border-radius: 4px;
            background-color: #c2c0b3;
            margin:15px;
        }
        .button:hover {
            background-color: rgb(236, 150, 64);
        }
    }
}