.block {
    margin: 10%;
}

.navPic {
    width: 100%;
    height: 200px;
    background-image: url("../../assets/yellow.png");
    background-size: cover;
    .slogan {
        width: 30%;
        color: #ffffff;
        font-size: x-large;
        font-weight: 600;
        position: relative;
        top: 25%;
        left: 24%;
    }
    @media screen and (max-width: 992px) {
        .slogan {
            font-size: 16px;
            width: 40%;
        }
    }
}

.search-menu {
    flex: none;
    width: 264px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #878d91;
    display: flex;
    align-items: center;
    position: relative;
    left: 10%;
    margin-top: 20px;

    .search-txt {
        width: 210px;
        height: 20px;
        font-size: 14px;
        color: #cbcecf;
        border: none;
        margin-left: 10px;
        outline: none;
    }
    .search-btn {
        flex: none;
        width: 24px;
        height: 24px;
    }
}

.body-link link {
    text-decoration: none;
}

.detail-link a {
    text-decoration: none;
}

.MuiCardContent-root {
    height: 165px;
}
