.block{
    margin:10%;
}


.navPic{
    width:100%;
    height:200px;
    background-image: url('../../assets/image-conference-22.png');
    background-size: cover;
    .slogan{
        width:30%;
        color:#ffffff;
        font-size: x-large;
        font-weight: 600;
        position: relative;
        top:25%;
        left:24%;
    }
}
